<div class="pr">
<div class="back_content container">
<div class="container" style="padding-top:100px;">
<div class ="row">
 <h1 style="text-align:center; color:white; ">Drillnote</h1>
 <p  style="text-align:center; color:white; ">アカウントを作成</p>


  <div class="col-lg-4 col-lg-offset-4 col-xs-12" id="signin_box">
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>

   <div class="field">
   <%= f.email_field :email, placeholder: "メールアドレス", id:"email_box",autofocus: true %>
   </div>

   <div class="field" style="margin-top:30px;">
    <% if @minimum_password_length %>
    <em>(パスワードは半角英数<%= @minimum_password_length %>文字以上での設定)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "パスワード",id: "password_box1",autocomplete: "off" %>
   </div>

   <div class="field" style="margin-top:30px;margin-bottom:30px;">
    <%= f.password_field :password_confirmation, placeholder: "パスワード再入力",id: "password_box2",autocomplete: "off" %>
   </div>

   <div class="actions" id="submit_box">
    <%= f.submit "アカウントを作成", class: "btn btn-default", id: "submit_button"%>
   </div>
   <% end %>
  </div>
 <div class="button_sign_top col-xs-12 col-lg-6 col-lg-offset-3">
 <p style="text-align:center; color:white; ">すでにアカウントをお持ちですか？</p>
 <a href="/users/sign_in"><h1 style="text-align:center; color:white; font-size:30px; margin-top:auto; margin-bottom:auto;">ログインへ</h1></a></div>
</div>
</div>
</div>