<div class="ohori">
 <div class="back_content container">
  <div class="container" style="padding-top:100px;">
   <div class ="row">
    <h1 style="text-align:center; color:white;">Drillnote</h1>
    <p  style="text-align:center; color:white;">パスワード再設定</p>


    <div class="col-lg-4 col-lg-offset-4 col-xs-12" id="signin_box" style="margin-bottom:100px;margin-top:100px;">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
   <div class="field" style="margin-top:30px;">
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
     <%= f.password_field :password, placeholder: "パスワード",id: "password_box1",autocomplete: "off" %></div>
   <div class="field" style="margin-top:30px;margin-bottom:30px;">
     <%= f.password_field :password_confirmation, placeholder: "パスワード再入力",id: "password_box2",autocomplete: "off" %></div>

   <div class="actions" style="margin-top:10px; margin-bottom:30px;">
    <%= f.submit "パスワードを変更しサインインページへ", class: "btn btn-default", id: "submit_button"%>
  </div></div>
   <% end %>
  </div>
   <div class="button_sign_top col-xs-12 col-lg-6 col-lg-offset-3">
 <p style="text-align:center; color:white; ">すでにアカウントをお持ちですか？</p>
 <a href="/users/sign_in"><h1 style="text-align:center; color:white; font-size:30px; margin-top:auto; margin-bottom:auto;">ログインへ</h1></a></div>
</div>
</div>
</div>
