
<% max = @sheet_number %>
<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12 col-xs-12" style="font-size:30px;">
   <h1 style = "margin-top:50px; margin-bottom:40px; text-align:center;">
   <%= @project.name %>
   </h1>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-xs-12">
  <% if max > 1 then %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="background-color:white;height:100%;">
  <div class="panel panel-default  col-lg-12 col-xs-12">
    <div class="panel-heading" style="background-color:white;" role="tab" id="heading">
      <h2 class="panel-title" >
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" style="font-size:28px;" aria-expanded="false" aria-controls="collapse" id="acordion">
          前のシートを見る
        </a>
      </h2>
    </div>
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
      <div class="panel-body">
        <h2>Sheet#<%= max-1 %></h2>
       <div id="box4" style="margin-right:auto;margin-left:auto;">
        <% @project_sheet.each do |nums| %>
       <% if nums.number == (max-1) then %>
       <%= content_tag(:div, nil, class:"dot #{nums.member}",data: { :"sheet-id" => nums.id }, title:"#{nums.member}",id:"tooltip_acordion", style: "left: #{nums.x}px; top: #{nums.y}px") %>
       <% end #if節のend%>
       <% end #eachの終り aa%>
       </div>
      </div>
    </div>
  </div>
</div>
<% end #ifの終り%>
  </div>


  <div class="col-lg-offset-2 col-lg-3 col-xs-3">
   <h3 id="sheet_number" style = "margin-top:50px; margin-bottom:20px;">Sheet#<%= max %></h3>
  </div>
  <diV class="col-lg-offset-1 col-lg-5 col-xs-9" style = "margin-top:40px;margin-bottom:20px;">
  <button type="button" class="btn btn-primary" id= "showplayer_button_edit">プレイヤー名表示</button>
</div>
<div class="center">
  <div class="rightbox">
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ドリル</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">編集</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><textarea cols="30" rows="10" name="direction" class="drill_direction" style="margin-top:10px;"><%=@sheet_dot%></textarea>
    <%= link_to 'シート確定', "#", method: :get, role: 'button', class: 'btn btn-primary btn-lg', id: 'box_edit',data: {no_turbolink: true } %>
    <%= link_to 'シート一覧', "/project/#{@project.id}/sheet", method: :get, :class=>'btn btn-primary btn-lg', :role=>'button', :style=>'margin-right:10px;' , data: {confirm: "編集中のデータが失われますが、よろしいですか？", no_turbolink: true } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
     <div class="mmbox">
      <div id="mmcenter" data-hoge-id="<%= max %>">
      <form>
      <input id="box" type="text" value="" style="font-size:20px;" placeholder="プレイヤー名を入力">
      <a id="box_editer" class="btn btn-primary btn-lg" role="button" style="margin-left:10px; font-size:20px;">入力</a><br>
      <%= link_to 'シート確定', "/project/#{@project.id}/sheet", method: :get, role: 'button', class: 'btn btn-primary btn-lg', id: 'box_edit', style:'font-size:20px;' %></div>
     </div>
    </div>

      <div id="getid" class="mmbox id" data-hoge-id="<%= @project.id %>">
      </div>
  </div>
</div>


  </div>
      <div id="getnumber" data-hoge-id="<%= max %>"></div>
  <div id="box">
     <% @project_sheet.each do |nums| %>
    <% if nums.number == max then %>
     <%= content_tag(:div, nil, class: "dot #{nums.member} #{nums.id}", title:"#{nums.member}",id: "tooltip_edit", style: "left: #{nums.x}px; top: #{nums.y}px") %>
    <% end #if節のend%>
   <% end #eachの終り%>
</div>
</div>
</div>
</div>