<div class="container-fluid">
  <div class="row" style="margin-top:30px;">
   <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1" style="font-size:30px;">
   <h2 style="text-align:center;"><%= @project.name %></h2></div>
   <diV class="col-lg-7 col-lg-offset-3 col-xs-10 col-xs-offset-1" style="margin-top:50px;">
   <%= link_to '新規シート作成', "/project/#{@project.id}/sheet/new", method: :get, :class=>'btn btn-primary btn-lg', :role=>'button', :style=>'font-size:25px;', :id=>"show_name" ,data: {no_turbolink: true }%>
   <%= link_to 'シート並び替え', "/project/#{@project.id}/sheet/1", method: :get, :class=>'btn btn-primary btn-lg', :role=>'button', :style=>'font-size:25px;'%>
    <a class="btn btn-primary btn-lg" id="tooltip_hide" data-toggle="modal" data-target=".bs-example-modal-lg" style="margin-left:auto; margin-right:auto; font-size:25px;" role="button">ドリルを再生</a></div>
  </div>
<!-- Modal -->
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   <div class="modal-dialog modal-lg">
     <div class="modal-content"">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">Sheet#1</h4>
       </div>
       <div class="modal-body row">
        <div id="box3" class="col-lg-12 col-xs-12">
        <% @project_sheet.each do |nums| %>
        <% if nums.number == 1 then %>
        <%= content_tag(:div, nil, class: "dot #{nums.member}_saisei" , title:"#{nums.member}",id: "tooltip", style: "left: #{nums.x}px; top: #{nums.y}px") %>
        <% end #if節のend%>
        <% end #eachの終り%>
        </div>
       </div>
       <div class="modal-footer">
       <button type="button" class="btn btn-default" id="saisei_kaishi">再生開始</button>
        <button type="button" class="btn btn-default saisei_end" id="tooltip_show"
        data-dismiss="modal">閉じる</button><!-- 再生画面の位置を調整-->
       </div>
     </div>
   </div>
 </div>


  <% array1 = [] %>
  <% @project_sheet.each do |aray| %>
  <% array1 << aray.number %>
  <% end %>

  <% array1.uniq! %>
  <% array1.sort! %>
  <% array1.each do |aa| %>

  <% array2 = [] %>
  <% array3 = [] %>

 <div class="center">
  <h3 id="show_name_index">sheet#<%= aa %></h3>

   <% @project_sheet.each do |sheets| %>
    <% array2 << sheets if sheets.number == aa %>
   <% end %>
   <% array2.each do |shets| %>
    <% array3 << shets.dots %>
   <% end %>

   <% array3.uniq! %>
   <% direction = array3[0] %>
  <div class="rightbox">
   <div>

   <!-- Nav tabs -->
   <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ドリル</a></li>
   </ul>

  <!-- Tab panes -->
   <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home"><h4 style ="margin-top:20px; margin-left:10px;"><%= simple_format(direction) %></h4></div>
    <%= link_to 'このシートを編集する', "/project/#{@project.id}/sheet/#{aa}/edit", method: :get, role: 'button', class: 'btn btn-primary btn-lg', style: 'margin-top:30px; margin-left:40px;',data: {no_turbolink: true }%>
    <%= link_to 'このシートを削除する', "/project/#{@project.id}/sheet/#{aa}/all", method: :get, role: 'button', class: 'btn btn-primary btn-lg', style: 'margin-top:30px; margin-left:40px;', data: {confirm: "本当に削除しますか？"}%>


   </div>

   </div>
  </div>


   <div id="box">
   <% @project_sheet.each do |nums| %>
    <% if nums.number == aa then %>
     <%= content_tag(:div, nil, class: "dot #{nums.member} #{nums.member}_#{aa}", title:"#{nums.member}",id: "tooltip2", style: "left: #{nums.x}px; top: #{nums.y}px") %>
    <% end #if節のend%>
   <% end #eachの終り aa%>
   </div>
 </div>
<% end %>
<div class="button_signin_index col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4" id="show_name">
<a href="/project/<%= @project.id%>/sheet/new" data-no-turbolink="1"><p style="text-align:center; font-size:30px;font-color:black;margin-top:10px;">新規シート作成</p></a></div>
</div>
</div>