<% array = [] %>
<% @project_sheet.each do |aray| %>
<% array << aray.number %>
<% end %>
<% max = array.max %>
<% max = 0 if max == nil %>
<% maxes = max+1 %>


<div class="container-fluid">
 <div class="row">
  <div class="col-lg-12 col-xs-12" style="font-size:30px;">
   <h1 id="show_name_new" style = "margin-top:50px; margin-bottom:40px; text-align:center;">
   <%= @project.name %>
   </h1>
  </div>

<div class="col-lg-offset-2 col-lg-3 col-xs-3">
  <h3 id="sheet_number show_name_new" style = "margin-top:50px; margin-bottom:20px;">Sheet#<%= max+1 %></h3>
</div>
 <diV class="col-lg-offset-1 col-lg-5 col-xs-9" style = "margin-top:10px;margin-bottom:20px;">
  <button type="button" class="btn btn-primary" id= "showplayer_button_new">プレイヤー名表示</button>
   <button type="button" class="btn btn-primary" id= "tooltip_hide" data-toggle="modal" data-target=" .bs-example-modal-lg">前のシートを見る</button>


<!-- Modal -->
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>



        <h4 class="modal-title" id="myModalLabel">Sheet#<%= max %></h4>
      </div>
      <div class="modal-body row">
       <div id="box3" class="col-lg-12 col-xs-12">
       <% @project_sheet.each do |nums| %>
       <% if nums.number == max then %>
       <%= content_tag(:div, nil, class:"dot #{nums.member}", title:"#{nums.member}",id:"tooltip_before #{nums.id}", style: "left: #{nums.x}px; top: #{nums.y}px") %>
       <% end #if節のend%>
       <% end #eachの終り%>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="tooltip_close">閉じる</button>
      </div>
    </div>
  </div>
 </div>
  </div>
 </diV>
 <div class="row">
  <div class="col-lg-offset-1 col-xs-12">
  </div>
 </div>
</div>


<div class="center">
  <div class="rightbox">
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ドリル</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">編集</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><textarea cols="30" rows="10" name="direction" class="drill_direction" style="margin-top:10px;" placeholder="ここにドリルの指示を入力してください"></textarea>
    <%= link_to 'シート確定',"/project/#{@project.id}/sheet", method: :get,  id: 'box2', role: 'button', class: 'btn btn-primary btn-lg', id: 'box2', style:'font-size:20px;',data: {no_turbolink: true } %>
    <%= link_to 'シート一覧', "/project/#{@project.id}/sheet", method: :get, :class=>'btn btn-primary btn-lg', :role=>'button', :style=>'margin-right:10px; font-size:20px;', data: {confirm: "編集中のデータが失われますが、よろしいですか？",no_turbolink: true} %>

    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
     <div class="mmbox">
      <div id="mmcenter" data-hoge-id="<%= maxes %>">
      <form>
      <input id="box" type="text" value="" placeholder="プレイヤー名を入力">
      <a id="box" class="btn btn-primary btn-lg" role="button" style="margin-left:10px; font-size:20px;">プレイヤー名を入力</a><br>
      <%= link_to 'シート確定',"/project/#{@project.id}/sheet", method: :get,  id:'box2', role: 'button', class: 'btn btn-primary btn-lg', style:'font-size:20px;',data: {no_turbolink: true }%>
      </div>
     </div>
    <div id="getid" class="mmbox id" data-hoge-id="<%= @project.id %>"></div>
    </div>

  </div>

</div>


  </div>
      <div id="getnumber" data-hoge-id="<%= maxes %>"></div>
  <div id="box">
   <% param = 1 %>
   <% @members.each do |member| %>
   <% xx = param % 10 %>
   <% x = xx*50 %>
   <% yy = param / 10 %>
   <% y = yy*50 unless yy == nil %>
       <%= content_tag(:div, nil, class:"dot #{member.name}", title:"#{member.name}",id:"tooltip", style: "left: #{x}px; top: #{y}px") %>
       <% param = param + 1 %>
       <% end %>
  </div>
  </div>
 </div>
</div>