<% array = [] %>
<% @project_sheet.each do |aray| %>
<% array << aray.number %>
<% end %>
<% max = array.max %>
<% max = 0 if max == nil %>
<% maxes = max+1 %>


<div class="container-fluid">
 <div class="row">
 <div class="col-lg-12 col-xs-12" style="font-size:30px;">
   <h1 id="show_name_new" style = "margin-top:50px; margin-bottom:40px; text-align:center;">
   <%= @project.name %>
   </h1>
  </div>
<% unless @project_sheet == [] then %>
<div class="col-lg-8 col-lg-offset-2 col-xs-12">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="background-color:white;height:100%;">
  <div class="panel panel-default  col-lg-12 col-xs-12">
    <div class="panel-heading" style="background-color:white;" role="tab" id="heading">
      <h2 class="panel-title" >
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse" style="font-size:28px;" aria-expanded="false" aria-controls="collapse" id="acordion">
          前のシートを見る
        </a>
      </h2>
    </div>
    <div id="collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
      <div class="panel-body">
        <h2>Sheet#<%= max %></h2>
       <div id="box4" style="margin-right:auto;margin-left:auto;">
        <% @project_sheet.each do |nums| %>
       <% if nums.number == max then %>
       <%= content_tag(:div, nil, class:"dot #{nums.member}",data: { :"sheet-id" => nums.id }, title:"#{nums.member}",id:"tooltip_acordion", style: "left: #{nums.x}px; top: #{nums.y}px") %>
       <% end #if節のend%>
       <% end #eachの終り aa%>
       </div>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>
<div class="col-lg-offset-2 col-lg-3 col-xs-3">
  <h3 id="sheet_number show_name_new" style = "margin-top:50px; margin-bottom:20px;">Sheet#<%= max+1 %></h3>
   </div>
 <diV class="col-lg-offset-1 col-lg-5 col-xs-9" style = "margin-top:40px;margin-bottom:20px;">
  <button type="button" class="btn btn-primary" id= "showplayer_button_new">プレイヤー名表示</button>
  </div>
 </diV>
</div>


<div class="center">
  <div class="rightbox">
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ドリル</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">編集</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><textarea cols="30" rows="10" name="direction" class="drill_direction" style="margin-top:10px;" placeholder="ここにドリルの指示を入力してください"></textarea>
    <%= link_to 'シート確定',"#", method: :get,  id: 'box2', role: 'button', class: 'btn btn-primary btn-lg', id: 'box2', style:'font-size:20px;',data: {no_turbolink: true } %>
    <%= link_to 'シート一覧', "/project/#{@project.id}/sheet", method: :get, :class=>'btn btn-primary btn-lg', :role=>'button', :style=>'margin-right:10px; font-size:20px;', data: {confirm: "編集中のデータが失われますが、よろしいですか？",no_turbolink: true} %>

    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
     <div class="mmbox">
      <div id="mmcenter" data-hoge-id="<%= maxes %>">
      <form>
      <input id="box" type="text" value="" placeholder="プレイヤー名を入力">
      <a id="box" class="btn btn-primary btn-lg" role="button" style="margin-left:10px; font-size:20px;">プレイヤー名を入力</a><br>
      <%= link_to 'シート確定',"/project/#{@project.id}/sheet", method: :get,  id:'box2', role: 'button', class: 'btn btn-primary btn-lg', style:'font-size:20px;',data: {no_turbolink: true }%>
      </div>
     </div>
    <div id="getid" class="mmbox id" data-hoge-id="<%= @project.id %>"></div>
    </div>

  </div>

</div>


  </div>
      <div id="getnumber" data-hoge-id="<%= maxes %>"></div>
  <div id="box">
  <% if maxes ==1 then %>
   <% param = 1 %>
   <% @members.each do |member| %>
   <% xx = param % 10 %>
   <% x = xx*50 %>
   <% yy = param / 10 %>
   <% y = yy*50 unless yy == nil %>
       <%= content_tag(:div, nil, class:"dot #{member.name}", title:"#{member.name}",id:"tooltip", style: "left: #{x}px; top: #{y}px") %>
       <% param = param + 1 %>
       <% end %>
  <% else %>
    <% @project_sheet.each do |nums| %>
     <% if nums.number == max then %>
     <%= content_tag(:div, nil, class: "dot #{nums.member} #{nums.id}", title:"#{nums.member}",id: "tooltip", style: "left: #{nums.x}px; top: #{nums.y}px") %>
      <% end #if節のend%>
    <% end #eachの終り%>
  <% end %>
  </div>
  </div>
 </div>
</div>