<% array = [] %>
<% @project_sheet.each do |aray| %>
<% array << aray.number %>
<% end %>
<% max = array.max %>
<% max = 0 if max == nil %>
<% maxes = max+1 %>


<div class="container-fluid">
 <div class="row">
  <div class="col-lg-6 col-xs-10 col-xs-offset-1" style="font-size:30px;">
   <h2 style = "margin-top:50px; margin-bottom:40px;">
   <%= @project.name %>
   </h2>
  </div>

  <diV class="col-lg-2 col-lg-offset-1 col-xs-6 col-xs-offset-6" style = "margin-top:50px;">
   <button type="button" class="btn btn-primary" id= "tooltip_hide drill_show" data-toggle="modal" data-target=" .bs-example-modal-lg" style="margin-right:10px;">前のシートを見る
   </button>


<!-- Modal -->
 <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>



        <h4 class="modal-title" id="myModalLabel">Sheet#<%= max %></h4>
      </div>
      <div class="modal-body row">
       <div id="box3">
       <% @project_sheet.each do |nums| %>
       <% if nums.number == max then %>
       <%= content_tag(:div, nil, class:"dot #{nums.member}", title:"#{nums.member}",id:"tooltip_before #{nums.id}", style: "left: #{nums.x}px; top: #{nums.y}px") %>
       <% end #if節のend%>
       <% end #eachの終り%>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
 </div>
  </div>
 </diV>
 <div class="row">
  <div class="col-lg-offset-1 col-xs-12">
  <h4 id="sheet_number" style = "margin-top:20px; margin-bottom:20px;">Sheet#<%= max + 1 %></h4>
  </div>
 </div>
</div>


<div class="center">
  <div class="rightbox">
  <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ドリル</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">編集</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"><textarea cols="30" rows="10" name="direction" class="drill_direction" style="margin-top:10px;" placeholder="ここにドリルの指示を入力してください"></textarea>
    <%= link_to 'シート確定',"/project/#{@project.id}/sheet", method: :get,  id: 'box2', role: 'button', class: 'btn btn-primary btn-lg', id: 'box_edit' %>
    <%= link_to 'シート一覧', "/project/#{@project.id}/sheet", method: :get, :class=>'btn btn-primary btn-lg', :role=>'button', :style=>'margin-right:10px;', data: {confirm: "編集中のデータが失われますが、よろしいですか？"} %>

    </div>

    <div role="tabpanel" class="tab-pane" id="profile">
     <div class="mmbox">
      <div id="mmcenter" data-hoge-id="<%= maxes %>">
      <form>
      <input id="box" type="text" value="" placeholder="プレイヤー名を入力"><br>
      <p><a id="box" class="btn btn-primary btn-lg" role="button" style="margin-left:40px;">プレイヤー名を入力</a></p>
      </div>
     </div>
    <div id="getid" class="mmbox id" data-hoge-id="<%= @project.id %>"></div>
    </div>

  </div>

</div>


  </div>
      <div id="getnumber" data-hoge-id="<%= maxes %>"></div>
  <div id="box">
   <% param = 1 %>
   <% @members.each do |member| %>
   <% xx = param % 10 %>
   <% x = xx*30 %>
   <% yy = (param).div(10) %>
   <% y = yy*30 %>
       <%= content_tag(:div, nil, class:"dot #{member.name}", title:"#{member.name}",id:"tooltip_edit", style: "left: #{x}px; top: #{y}px") %>
       <% param = param + 1 %>
       <% end %>
  </div>
  </div>
 </div>
</div>