<% if @project== [] then %>
<div class="container">
 <div class="center_text" row>
 <div class="col-lg-12 col-xs-12">
 <h2 style="margin-top:150px">作成中のドリルはありません</h2>
 <p><span class="center_text" style="text-align:center;">
 <%= link_to "新しいドリルを作ってみましょう!" ,'/project/new',  method: :get %></span>
 </div>
</div>

<% else %>
<div class="container-fluid">
<div class="row">
<% @project.each do |pros| %>
 <div class="col-xs-10 col-xs-offset-1 col-lg-3 col-lg-offset-1" id="drill_sheet">
 <h2 class="title_drill" id=" tooltip" title="<%= pros.name %>"><%= pros.name %></h2>
 <div class="drillnotebook"></div>
 <div class="row">
  <%= link_to '編集', "/project/#{pros.id}/sheet", method: :get, :class=>'btn btn-primary col-xs-4 col-xs-push-1 col-lg-4 col-lg-push-1', :id=>'index_button1', :role=>'button'%>
  <%= link_to '削除', "/project/#{pros.id}", method: :delete, :class=>'btn btn-primary col-xs-4 col-xs-push-2 col-lg-4 col-lg-push-2', :id=>'index_button1', :role=>'button', data: {confirm: "本当に削除しますか？"} %></div>
  <div class="row" style="margin-bottom:50px"><%= link_to '設定',"/project/#{pros.id}/setting", method: :get, :class=>'btn btn-primary col-xs-4 col-xs-push-1 col-lg-4 col-lg-push-1', :id=>'index_button3', :role=>'button' %>
    <%= link_to '印刷', "#", method: :get,  :class=>'btn btn-primary col-xs-4 col-xs-push-2 col-lg-4 col-lg-push-2', :id=>'index_button3', :role=>'button' %></div>

 </div>
<% end %>
<% end %>
</div>
</div>
<div class="new_drill">
 <div class="button_new_drill col-xs-10 col-xs-offset-1 col-lg-2 col-lg-offset-5"><a href="/project/new"><p style="text-align:center; color:black; font-size:40px; margin-top:auto; margin-bottom:auto;">新規作成</p></a>
 </div>
</div>